@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');

* {
    margin: 0; padding: 0;
}

:root {
    --gradient: linear-gradient(
        45deg,
        #845ec2,
        #d65db1,
        #ff6f91,
        #ff9671,
        #ffc75f,
        #f9f871
    );
}

:root {
    --gradient2: linear-gradient(
        45deg,
        #d65db1,
        #ff6f91,
        #ff9671,
        #ffc75f,
        #f9f871
    );
}

html {
    background-image: var(--gradient);
    background-size: 300%;
    background-position: left;
    transition: background-position 1s;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}
    body {
    }
        .Container {
            margin: 0 20px 0 20px;
        }
            header {
                display: flex;
                justify-content: space-between;
                padding: 25px;
                margin-bottom: 10px;
            }
                .Logo {
                    display: flex;
                    place-items: center;
                    margin-left: 85px;
                    text-decoration: none;
                }
                    .LogoCircleOutside {
                        width: 45px;
                        height: 45px;
                        background-color: red;
                        display: grid;
                        place-content: center;
                        border-radius: 100%;
                        background: hsl(0 0% 100% / 0.1);
                    }
                        .LogoCircleInside {
                            width: 30px;
                            height: 30px;
                            background-color: #000;
                            border-radius: 100%;
                            display: grid;
                            place-content: center;
                            background-image: var(--gradient);
                            background-size: 375%;
                            background-position: left;
                        }
                    .LogoSpan {
                        text-decoration: none;
                        font-size: 16px;
                        margin-left: -15px;
                        text-transform: uppercase;
                    }
                .Logo:hover {
                    animation: fa-beat 1.75s ease infinite;
                }
                .Transition {
                    position: relative;
                    display: flex;
                    place-items: center;
                    animation: myTransition 5s infinite;
                    animation-timing-function: linear;
                    color: #fff;
                    font-family: 'Roboto Flex', sans-serif;
                    letter-spacing: 0.5px;
                }
                    @keyframes myTransition {
                        0% {left: -22vw;}
                        100%  {left: 25vw;}
                    }
                .Cv {
                    width: 125px;
                    height: 40px;
                    color: white;
                    display: flex;
                    justify-content: space-evenly;
                    place-items: center;
                    padding: 0 20px 0 20px;
                    background: hsl(0 0% 100% / 0.1);
                    border-radius: 7.25px;
                    border: none;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    text-decoration: none;
                }
                .Cv:hover {
                    cursor: pointer;
                    background-image: var(--gradient);
                    background-size: 300%;
                    background-position: right;
                    transition: background-position 1.5s;
                }
            .Nvb-Main-Container {
                display: flex;
                justify-content: left;
                padding: 0 50px 0 75px;
                    
                /* min-height: calc(100vh - 165px); */
            }
                .Navbar {
                    display: grid;
                    place-content: center;
                }
                    .NavbarMenu {
                        width: 170px;
                        height: 350px;
                        list-style: none;
                        padding: 25px;
                        background: hsl(0 0% 100% / 0.1);
                        border-radius: 7.25px;
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    }
                        .NavbarItem {
                            margin: 0 0 1.5em 0;
                        }
                            .NavbarItem > a {
                                text-transform: uppercase;
                                color: #fff;
                                letter-spacing: 3px;
                                text-decoration: none;
                                font-family: 'Roboto Flex', sans-serif;
                            }
                            .NavbarItem > a:hover {
                                background-image: var(--gradient);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                background-size: 125%;
                                background-position: right;
                            }
                                .NavbarItem > a > span {
                                    font-family: 'Roboto Flex', sans-serif;
                                    font-weight: 700;
                                    margin-inline-end: 0.75em;
                                }
                main {
                    display: flex;
                    width: 100vw;
                    justify-content: space-between;
                }
                    .MainFocus {
                        width: 100%;
                        display: grid;
                        place-items: center;
                    }
                        .DomainsInterestHeader {
                            font-size: 4rem;
                            background-image: var(--gradient);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            background-size: 175%;
                            background-position: right;
                            font-family: 'Roboto Flex', sans-serif;
                            letter-spacing: 1.5px;
                        }
                        .TabContainer {
                            width: 85%;
                            height: 100%;
                            border-radius: 7.25px;
                            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                        }
                            .ButtonsContainer {
                                padding: 10px 0 10px 0;
                                display: flex;
                                justify-content: space-evenly;
                            }
                                .ButtonsContainer button {
                                    font-family: 'Roboto Flex', sans-serif;
                                    text-transform: uppercase;
                                    letter-spacing: 1.5px;
                                    width: 120px;
                                    background: none;
                                }
                            .InfoContainer {
                                width: 50%;
                                margin: auto;
                                margin-top: 10px;
                                margin-bottom: 10px;
                                display: grid;
                                place-content: center;
                                border-radius: 7.25px;
                                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                            }
                                .MainInfo {
                                    font-family: 'Roboto Flex', sans-serif;
                                    padding: 15px;
                                }
                                .WebProgrammingInfo {
                                    display: none;
                                    font-family: 'Roboto Flex', sans-serif;
                                    padding: 15px;
                                }
                                .WebDesignInfo {
                                    display: none;
                                    font-family: 'Roboto Flex', sans-serif;
                                    padding: 15px;
                                }
                                .ProblemSolvingInfo {
                                    display: none;
                                    font-family: 'Roboto Flex', sans-serif;
                                    padding: 15px;
                                }
                                .SomethingInfo1 {
                                    display: none;
                                    font-family: 'Roboto Flex', sans-serif;
                                    padding: 15px;
                                }
                                .SomethingInfo2 {
                                    display: none;
                                    font-family: 'Roboto Flex', sans-serif;
                                    padding: 15px;
                                }
                    .Asidebar {
                        display: grid;
                        place-content: center;
                    }
                        .AsidebarMenu {
                            list-style: none;
                        }
                            .AsidebarItem {
                                margin: 0 0 1.5em 0;
                                text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
                            }
            footer {
                position: absolute;
                bottom: 0;
                width: 98vw;
                height: 60px;
                display: flex;
                justify-content: center;
            }
                .CopyrightText {
                    font-family: 'Roboto Flex', sans-serif;
                    letter-spacing: 0.25px;
                }
                .PolicyContainer {
                    position: absolute;
                    right: 0;
                    margin-right: 45px;
                    margin-top: -10px;
                }
                    .PolicyText {
                        text-decoration: none;
                        color: #fff;
                    }

@media screen and ( min-height: 650px) {
    header {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    footer {
        /* margin-bottom: 40px; */
    }
    .line {
        margin: -173.3px 0 0 345px;
    }
}
@media screen and ( min-height: 700px) {
    header {
        margin-bottom: 55px;
    }
    footer {
        margin-bottom: 40px;
    }
}