@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --gradient: linear-gradient(45deg,
            #845ec2,
            #d65db1,
            #ff6f91,
            #ff9671,
            #ffc75f,
            #f9f871);
}

:root {
    --gradient2: linear-gradient(45deg,
            #d65db1,
            #ff6f91,
            #ff9671,
            #ffc75f,
            #f9f871);
}

html {
    background-image: var(--gradient);
    background-size: 300%;
    background-position: left;
    transition: background-position 1s;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}

body {}

.Container {
    margin: 0 20px 0 20px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    margin-bottom: 10px;
}

.Logo {
    display: flex;
    place-items: center;
    margin-left: 85px;
    text-decoration: none;
}

.LogoCircleOutside {
    width: 45px;
    height: 45px;
    background-color: red;
    display: grid;
    place-content: center;
    border-radius: 100%;
    background: hsl(0 0% 100% / 0.1);
}

.LogoCircleInside {
    width: 30px;
    height: 30px;
    background-color: #000;
    border-radius: 100%;
    display: grid;
    place-content: center;
    background-image: var(--gradient);
    background-size: 375%;
    background-position: left;
}

.LogoSpan {
    text-decoration: none;
    font-size: 16px;
    margin-left: -15px;
    text-transform: uppercase;
}

.Logo:hover {
    animation: fa-beat 1.75s ease infinite;
}

.Transition {
    position: relative;
    display: flex;
    place-items: center;
    animation: myTransition 5s infinite;
    animation-timing-function: linear;
    color: #fff;
    font-family: 'Roboto Flex', sans-serif;
    letter-spacing: 0.5px;
}

@keyframes myTransition {
    0% {
        left: -22vw;
    }

    100% {
        left: 25vw;
    }
}

.Cv {
    width: 125px;
    height: 40px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    place-items: center;
    padding: 0 20px 0 20px;
    background: hsl(0 0% 100% / 0.1);
    border-radius: 7.25px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-decoration: none;
}

.Cv:hover {
    cursor: pointer;
    background-image: var(--gradient);
    background-size: 300%;
    background-position: right;
    transition: background-position 1.5s;
}

.Nvb-Main-Container {
    display: flex;
    justify-content: left;
    padding: 0 50px 0 75px;

    /* min-height: calc(100vh - 165px); */
}

.Navbar {
    display: grid;
    place-content: center;
}

.NavbarMenu {
    width: 170px;
    height: 350px;
    list-style: none;
    padding: 25px;
    background: hsl(0 0% 100% / 0.1);
    border-radius: 7.25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.NavbarItem {
    margin: 0 0 1.5em 0;
}

.NavbarItem>a {
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 3px;
    text-decoration: none;
    font-family: 'Roboto Flex', sans-serif;
}

.NavbarItem>a:hover {
    background-image: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 125%;
    background-position: right;
}

.NavbarItem>a>span {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 700;
    margin-inline-end: 0.75em;
}

main {
    display: flex;
    width: 100vw;
    justify-content: space-between;
}

.MainFocus {
    width: 100%;
    display: grid;
    place-content: center;
}

.BehindImg {
    display: grid;
    place-content: center;
    position: relative;
}

.Me {
    width: 300px;
    height: 400px;
    margin-left: -100px;
    z-index: 0;
}

.BehindMe {
    position: absolute;
    margin-top: 50px;
    position: absolute;
    width: 275px;
    height: 200px;
    background-color: #000;
    z-index: -1;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    border: 0.25px solid hsl(0 0% 100% / 0.75);
    background: hsl(0 0% 100% / 0.05);
    margin-left: 40px;
}

.NameText {
    color: #fff;
    font-size: 4rem;
    margin: -120px 0 0 -90px;
    letter-spacing: 2px;
    z-index: 1;
}

.DescriptionText {
    color: #fff;
    font-size: 1rem;
    margin: -35px 0 0 -30px;
    letter-spacing: 3px;
    z-index: 1;
    font-family: 'Roboto Flex', sans-serif;
}

.LiveChat {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: darkslateblue;
    color: #fff;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    letter-spacing: 3px;
    font-family: 'Roboto Flex', sans-serif;
    /* font-weight: bold; */
    margin: -210px 0 0 275px;
    background-image: var(--gradient);
    background-size: 200%;
    z-index: 1;
}

.LiveChat:hover {
    cursor: pointer;
    background-image: var(--gradient);
    background-size: 300%;
    background-position: right;
    transition: background-position 1.5s;
}

.line {
    background-color: #fff;
    width: 60px;
    height: 0.1px;
    margin: -173.5px 0 0 345px;
    z-index: 1;
}

.arrow {
    width: 1px;
    height: 1px;
    border: solid white;
    border-width: 0 1.1px 1.1px 0;
    padding: 1px;
    -webkit-transform: rotate(135deg);
    margin: -175px 0 0 345px;
    z-index: 1;
}

.Asidebar {
    position: absolute;
    display: grid;
    place-items: center;
    top: 41.6%;
    right: 0;
    padding-right: 50px;
    margin-right: 20px;
}

#AsidebarMenuID {
    list-style: none;
}

.AsidebarItem {
    margin: 0 0 1.5em 0;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.AsideLiveChat {
    display: none;
    position: absolute;
    right: 0;

    color: #000;
    height: 70%;
    width: 21.5%;
    margin-right: 50px;

    background-image: var(--gradient2);
    background-size: 400%;
    background-position: left;
    transition: background-position 1s;

    border-radius: 7.25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Chat Area CSS Start */
.chat-area {
    height: 100%;
}

.chat-area .AsideHeader {
    display: flex;
    align-items: center;
    padding: 18px 30px;
}

.chat-area .AsideHeader .back-icon {
    color: #fff;
    font-size: 18px;
}

.chat-area .AsideHeader .AsideHeaderImg {
    height: 45px;
    width: 45px;
    margin: 0 15px;
    border-radius: 50px;
}

.chat-area .AsideHeader .details .AsideHeaderSpan {
    font-size: 17px;
    font-weight: 500;
    font-weight: bold;
    color: #fff;
}

.chat-box {
    position: relative;
    height: 51.8%;
    overflow-y: auto;
    padding: 10px 30px 20px 30px;
    background: #f7f7f7;
    box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
        inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
    background: hsl(0 0% 100% / 0.25);
}

/* .chat-box .text{
                            position: absolute;
                            top: 45%;
                            left: 50%;
                            width: calc(100% - 50px);
                            text-align: center;
                            transform: translate(-50%, -50%);
                        }
                        .chat-box .chat{
                            margin: 15px 0;
                        }
                        .chat-box .chat p{
                            word-wrap: break-word;
                            padding: 8px 16px;
                            box-shadow: 0 0 32px rgb(0 0 0 / 8%),
                                        0rem 16px 16px -16px rgb(0 0 0 / 10%);
                        }
                        .chat-box .outgoing{
                            display: flex;
                        }
                        .chat-box .outgoing .details{
                            margin-left: auto;
                            max-width: calc(100% - 130px);
                        }
                        .outgoing .details p{
                            background: #333;
                            color: #fff;
                            border-radius: 18px 18px 0 18px;
                        }
                        .chat-box .incoming{
                            display: flex;
                            align-items: flex-end;
                        }
                        .chat-box .incoming img{
                            height: 35px;
                            width: 35px;
                        }
                        .chat-box .incoming .details{
                            margin-right: auto;
                            margin-left: 10px;
                            max-width: calc(100% - 130px);
                        }
                        .incoming .details p{
                            background: #fff;
                            color: #333;
                            border-radius: 18px 18px 18px 0;
                        } */
.typing-area {
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
    opacity: 97.5%;
}

.typing-area input {
    height: 45px;
    width: calc(100% - 58px);
    font-size: 16px;
    padding: 0 13px;
    border: 1px solid #e6e6e6;
    outline: none;
    border-radius: 5px 0 0 5px;
}

.typing-area button {
    color: #fff;
    width: 55px;
    border: none;
    outline: none;
    background: #333;
    font-size: 19px;
    cursor: pointer;
    opacity: 0.7;
    pointer-events: none;
    border-radius: 0 5px 5px 0;
    transition: all 0.3s ease;
}

.typing-area button.active {
    opacity: 1;
    pointer-events: auto;
}

footer {
    position: absolute;
    bottom: 0;
    width: 98vw;
    height: 60px;
    display: flex;
    justify-content: center;
}

.CopyrightText {
    font-family: 'Roboto Flex', sans-serif;
    letter-spacing: 0.25px;
}

.PolicyContainer {
    position: absolute;
    right: 0;
    margin-right: 45px;
    margin-top: -10px;
}

.PolicyText {
    text-decoration: none;
    color: #fff;
}

@media screen and (min-height: 650px) {
    header {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    footer {
        /* margin-bottom: 40px; */
    }

    .line {
        margin: -173.3px 0 0 345px;
    }
}

@media screen and (min-height: 700px) {
    header {
        margin-bottom: 55px;
    }

    footer {
        margin-bottom: 40px;
    }
}